@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');
body {
  /* margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  /* font-family: 'Rubik', sans-serif; */
  font-family: 'Assistant', sans-serif;
    color: #ffffff;
    background-color: #F0F0F7;
}
svg,span,a,button,input,.w-box{
   transition: all 200ms ease !important;
}

/*code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; 
}*/



h2{font-size: 42px;}
h3{font-size: 32px;}
h4{font-size: 22px;}
p{font-size: 16px;}

li{
  list-style: none;
}
ul{
  margin: 0;
  padding: 0;
}
/* header css start */
header.pageheader .form-select {
  width: 23%;
  border-radius: 0;
  font-weight: 700;
  color: #C2C6D1;
}
header.pageheader .navbar-light .navbar-nav .nav-item a {
  color: #000;
  font-weight: 700;
  padding: 15px 0;
  text-decoration: none;
  transition: all 0s !important;
}
header.pageheader .nav-item {
  margin: 0 20px;
}
header.pageheader .navbar-light .navbar-nav .nav-item a svg {
  margin-right: 4px;
}
header.pageheader .navbar-light .navbar-nav .nav-item a.active, header.pageheader .navbar-light .navbar-nav .nav-item a:hover {
  color: #4AB9ED;
  position: relative;
}

header.pageheader .navbar-light .navbar-nav .nav-item a.active:after, header.pageheader .navbar-light .navbar-nav .nav-item a:hover:after {
  position: absolute;
  content: '';
  background-color: #4AB9ED;
  width: 100%;
  height: 3px;
  bottom: -11px;
  left: 0;
}
header.pageheader {
  background-color: #fff;
  box-shadow: 3px -3px 8px 0 rgb(0 0 0 / 6%), 0px 2px 20px 0 rgb(0 0 0 / 4%);
}
.header-lft .input-group-text {
  background-color: transparent;
  border: none;
  padding: 0;
}

.header-lft .form-select {
  padding: 0px 30px 0 8px;
  border: none;
  border-radius: 14px !important;
}

.country.input-group {
  border: 1px solid #c2c6d1;
  border-radius: 10px;
  padding: 10px;
}

header.pageheader .form-select:focus {
  border: none;
  box-shadow: none;
}
.med-btn {
  color: #4AB9ED;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  background-color: #F0F0F7;
  padding: 10px 27px;
  display: inline-block;
  border-radius: 30px;
  border: 2px solid #f0f0f7;
}
.med-btn:hover {
  color: #4AB9ED;
  background-color: #DFE2EB;
}
.header-lft {
  display: flex;
  align-items: center;
}

.header-lft p {
  color: #000;
  display: flex;
  align-items: center;
  margin: 0 12px;
  font-weight: 700;
  font-size: 18px;
}

.header-lft p span {
  margin-right: 4px;
}
.pageheader #basic-navbar-nav {
  justify-content: space-between;
}
header.pageheader .navbar .form-select:focus {
  border: 1px solid #ced4da;
}

/* header css end */
/* banner css start */
.banner {
  background-color: #4AB9ED;
}
.banner {
  background-color: #4AB9ED;
    border-radius: 20px;
    /* padding: 90px 70px; */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* background-position: 90px; */
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 3%), 0 6px 20px 0 rgb(0 0 0 / 6%);
  /* background-image: url('Assets/banner.png'); */
}
.side-banner-div img {
  width: 100%;
}
.banner .row {
  align-items: center;
  justify-content: space-between;
}

.banner-txt {
  padding-left: 60px;
}
.banner-txt h3 {
  font-size: 46px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 15px;
}
.banner-txt p {
  font-size: 18px;
  margin-bottom: 28px;
}
.lrg-btn {
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  background-color: #2D70BD;
  padding: 15px 30px;
  display: inline-block;
  border-radius: 30px;
  border: 2px solid #2d70bd;
}

.lrg-btn:hover {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
.banner-main {
  margin: 30px 0px;
}

/* banner css end */


/* upcoming css start */
.upcoming-head h4 {
  color: #4AB9ED;
  font-weight: 700;
  font-size: 35px;
  margin: 0;
}

.up-wid {
  border-radius: 20px;
  position: relative;
  z-index: 999;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 20px 0;
}
.up-img img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.up-wid a {
  text-decoration: none;
}

.up-txt {
  background-color: #fff;
}
.up-txt span {
  display: block;
  font-weight: 500;
  color: #2E4966;
  font-size: 18px;
}

.up-txt h6 {
  color: #4AB9ED;
  font-weight: 600;
  font-size: 20px;
  margin: 0;
}

.up-txt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 0 0 20px 20px;

}

.up-txt a {
  background-color: #FF8C21;
  color: #fff;
  line-height: 0;
  display: inline-block;
  padding: 9px;
  border-radius: 100%;
}
.up-txt a:hover {
  background-color: #4ab9ed;
}
.up-wid:after {
  content: '';
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  
  border-radius: 20px;
  z-index: -1;
transition: all 1s;
}
.up-wid:hover:after {
  background-color: #4AB9ED;
  transform: rotate(5deg);
}
.upcoming-main .slick-slide>div {
  margin: 20px;
}
.upcoming-main {
  margin: 20px 0;
  overflow: hidden;
}
.upcoming-main .slick-prev, .upcoming-main .slick-next {
  top: -13px;
}
.upcoming-main .slick-prev {
  left: auto;
  right: 80px;
}
.upcoming-main .slick-next {
  right: 0;
}
.upcoming-main .slick-prev:before {
  content: '\f177';
  font-family: fontawesome;
  color: #4AB9ED;
}
.upcoming-main .slick-next:before {
  content: '\f178';
  font-family: fontawesome;
  color: #4AB9ED;
}
.upcoming-main .slick-arrow {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 8%), 0 6px 20px 0 rgb(0 0 0 / 7%);
  width: 50px;
  height: 50px;
  z-index: 9999;
  border-radius: 10px;
}
.upcoming-main .slick-prev:before, .upcoming-main .slick-next:before {
  font-size: 36px;
  width: 60px;
  height: 60px
}
/* upcoming css end */

/* locally css start */
.locally-img img {
  width: 100%;
}

.locally-img {
  text-align: center;
  position: relative;
  width: 70%;
  margin: 0 auto;
}

/* .locally-img:after {
  content: '';
  position: absolute;
  background-color: #4ab9ed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: rotate(5deg);
  border-radius: 20px;
  z-index: -1;
  transition: all 1s;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 3%), 0 6px 20px 0 rgb(0 0 0 / 6%);
} */
.locally-txt h5 {
  color: #4ab9ed;
  font-weight: 700;
  font-size: 37px;
  margin-bottom: 14px;
}

.locally-txt p {
  color: #676A73;
  font-weight: 500;
  font-size: 19px;
}

.locally-main .row {
  align-items: center;
  justify-content: space-evenly;
}

.locally-main {
  margin: 50px 0;
  padding: 50px 0;
}

/* locally css end */

/* mail section css start */
.call-act-main {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 9%), 0 6px 20px 0 rgb(0 0 0 / 2%);
  margin: 70px 0;
}

.mail-img img {
  width: 100%;
}
.mail-txt h6 {
  color: #4ab9ed;
  font-weight: 700;
  font-size: 42px;
  text-transform: uppercase;
  margin: 0;
}

.mail-txt p {
  color: #676A73;
  font-weight: 500;
  font-size: 28px;
}
.mail-txt button {
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  background-color: #FF8C21;
  padding: 10px 27px;
  display: inline-block;
  border-radius: 30px !important;
  border: 2px solid #ff8c21;
  text-transform: uppercase;
}

.mail-txt button:hover {
  background-color: transparent;
  color: #ff8c21;
  border-color: #ff8c21;
}
.mail-txt button:focus{
  color: #fff;
  background-color: #FF8C21;
  border-color: #FF8C21;
  box-shadow: none;
}

.mail-txt .input-group input {
  border: none;
  outline: none;
  padding-left: 20px;
}

.mail-txt .input-group input:focus {
  box-shadow: none;
  background: transparent;

}

.mail-txt .input-group {
  box-shadow: 0px 0px 8px 0 rgb(0 0 0 / 9%), 0 6px 20px 0 rgb(0 0 0 / 2%);
  border-radius: 30px !important;
  overflow: hidden;
}

.call-act-main .row {
  align-items: center;
  margin: 0;
}
.call-act-main .row .col-md-3 {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 9%), 0 6px 20px 0 rgb(0 0 0 / 2%);
  padding: 60px;
  border-radius: 15px;
}
.mail-txt {
  padding: 50px;
}
.mail-txt .form-check label {
  color: #676A73;
  font-weight: 500;
}
.how-head h5 {
  color: #4ab9ed;
  font-weight: 700;
  font-size: 36px;
  margin: 0;
}

.how-head {
  text-align: center;
  margin-bottom: 50px;
}

.step-txt > span {
  display: inline-block;
  color: #4ab9ed;
  font-weight: 500;
  font-size: 34px;
  padding: 8px 24px;
  background-color: #fff;
  border-radius: 100%;
}

.step-txt {
  text-align: center;
  min-height: 80px;
}
.steps {
  background-color: #fff;
  border-radius: 15px;
  text-align: center;
  padding: 30px;
    margin: 30px 60px;
}

.steps img {
  width: 100%;
}

.step-txt p {
  color: #37393D;
  font-weight: 700;
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
}
.step-txt p span {
  display: block;
}
.lines-main {
  position: relative;
}

.lines-main:after {
  content: '';
  position: absolute;
  background-image: url('Assets/lines.png');
  width: 860px;
  height: 100%;
  top: 130px;
  background-size: 100%;
  background-repeat: no-repeat;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.how-it-works {
  padding: 50px 0;
}
.steps-ftr h6 {
  color: #4ab9ed;
  font-weight: 700;
  font-size: 20px;
  margin: 0;
}

.steps-ftr {
  text-align: center;
  padding: 20px 0;
  margin: 40px 0 0;
}
.main-footer {
  background-color: #4ab9ed;
  color: #fff;
}

.main-footer ul li a {
  color: #fff;
  font-size: 34px;
}

.main-footer ul {
  display: flex;
}

.main-footer ul li {
  margin: 0 20px;
}
.main-footer .row .col-md-4:nth-child(2) {
  text-align: center;
}

.main-footer .row .col-md-4:nth-child(3) {
  text-align: right;
}

.main-footer p {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}

.main-footer .row {
  align-items: center;
}

.main-footer {
  padding: 10px 0;
}
.main-footer ul li a:hover {
  color: #2E4966;
  box-shadow: none;
}
.counter {
  position: absolute;
  top: 18px;
  width: 100%;
}

.counter ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.counter ul p span {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 13px;
  font-weight: 500;
}

.counter ul p {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  margin: 0;
  background-color: #4ab9ed80;
  line-height: 41px;
  /* padding: 10px; */
  border-radius: 7px;
  min-height: 60px;
  min-width: 60px;
}
.counter ul li {
  font-size: 30px;
  font-weight: 700;
}
/* mail section css start */

/* explore market palce css start */
.row .up-wid {
  margin: 20px 13px;
}
.filter-lst {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 9%), 0 6px 20px 0 rgb(0 0 0 / 2%);
  padding: 30px;
}

.filter-lst h6 {
  color: #4AB9ED;
  font-weight: 700;
  font-size: 23px;
  text-transform: capitalize;
}

.filter-lst label {
  color: #000;
  font-weight: 600;
  margin: 10px 0 5px;
}

.filter-lst select {
  margin-bottom: 10px;
  border-radius: 0;
  color: #C2C6D1;
}

.filter-lst select:focus {
  box-shadow: none;
}
.filter-res-main {
  margin: 50px 0;
  padding: 40px 0;
}
.upcoming-head ul li .nav-item a{
  background-color: #2d70bd;
  border: 2px solid #2d70bd;
  border-radius: 30px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 30px;
  text-decoration: none;
  text-transform: capitalize;
  min-width: 120px;
}
.upcoming-head ul li .nav-item a:hover{
  background-color: transparent;
  color: #2d70bd;
}
.upcoming-head ul li .nav-item a:focus {
  color: #fff;
  background-color: #2d70bd;
  border-color: #2d70bd;
}
.upcoming-head ul li .nav-item a svg {
  margin-right: 6px;
}

.upcoming-head ul {
  display: flex;
  align-items: center;
}

.upcoming-head ul li {
  margin-left: 10px;
}
.filter-res-main .upcoming-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list .up-wid a {
  display: flex;
}
.list .up-wid {
  background-color: #fff;
}
.list .up-txt {
  padding: 10px 20px;
  border-radius: 0px 20px 20px 0;
  width: 100%;
}
.list .up-img img {
  border-radius: 20px 0px 0px 20px;
}
.list .up-txt h6 {
  font-size: 30px;
}
.list .up-txt a {
  padding: 12px;
  font-size: 30px;
}
.list .up-wid:hover:after {
  transform: rotate(2deg);
}
.explore-main {
  margin: 50px 0;
}
.map-view {
  margin: 30px 0;
}
/* explore market palce css end */

/* showcase css start */
.merchant-img img {
  width: 100%;
}

.merchant-img {
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.merc-txt {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2d70bddb;
  border-radius: 20px;
  opacity: 0;
  transition: all 1s;
}

.merc-txt h4 {
  font-weight: 700;
  color: #fff;
  font-size: 40px;
}
.merchant-widget .up-img img {
  border-radius: 20px;
}
.merchant-widget .up-wid:hover .merc-txt{
  opacity: 1;
}
.merchant-widget ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.merchant-widget ul li a {
  color: #2D70BD;
  font-size: 34px;
}

.merchant-widget ul li a:hover {
  color: #4ab9ed;
}
.merchant-showcase .row {
  align-items: center;
  justify-content: space-between;
}

.and-txt {
  text-align: center;
}

.and-txt h5 {
  color: #000;
  font-size: 50px;
  font-weight: 700;
}
.title-txt {
  text-align: center;
  margin: 40px 0;
}

.title-txt h3 {
  color: #4AB9ED;
  font-weight: 700;
  font-size: 45px;
  margin: 0;
}
.showcase-main .upcoming-main {
  border-top: 1px solid #2d70bd;
  padding-top: 20px;
}
.showcase-main {
  margin: 50px 0;
}
/* showcase css end */


/* FOR WIDTH 1399px  */
@media only screen and (max-width:1399px){
 
}


/* FOR WIDTH 1199px  */
@media only screen and (max-width:1199px){

}

/* FOR WIDTH 991px  */
@media only screen and (max-width:991px){

}

/* FOR WIDTH 1199px  */
@media only screen and (min-width: 992px) and (max-width: 1199px){
 
}

/* FOR WIDTH 991px  */
@media only screen and (min-width: 768px) and (max-width: 991px){
  
}

@media only screen and (min-width: 300px) and (max-width: 519px){
 
}
 